rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /courses/{courseId} {
      allow read, write: if isOwner(resource.data.uid);
      allow create: if isOwner(request.resource.data.uid);
    }

    match /tasks/{taskId} {
      allow read, write: if isOwner(resource.data.uid);
      allow create: if isOwner(request.resource.data.uid);
    }
    
    match /goals/{goalId} {
      allow read, write: if isOwner(resource.data.uid);
      allow create: if isOwner(request.resource.data.uid);
    }
    
    match /notes/{noteId} {
      allow read, write: if isOwner(resource.data.uid);
      allow create: if isOwner(request.resource.data.uid);
    }
    
    match /timetable/{entryId} {
      allow read, write: if isOwner(resource.data.uid);
      allow create: if isOwner(request.resource.data.uid);
    }
    
    match /study-sessions/{sessionId} {
      allow read, write: if isOwner(resource.data.uid);
      allow create: if isOwner(request.resource.data.uid);
    }
    
    match /dailyActivities/{userId} {
        allow read, write: if isOwner(userId);
    }

    match /flashcardSets/{userId} {
        allow read, write: if isOwner(userId);
    }

    match /weeklyPlans/{userId} {
        allow read, write: if isOwner(userId);
    }
  }
}