@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .prose {
    --tw-prose-body: hsl(var(--foreground));
    --tw-prose-headings: hsl(var(--foreground));
    --tw-prose-lead: hsl(var(--foreground));
    --tw-prose-links: hsl(var(--primary));
    --tw-prose-bold: hsl(var(--foreground));
    --tw-prose-counters: hsl(var(--muted-foreground));
    --tw-prose-bullets: hsl(var(--border));
    --tw-prose-hr: hsl(var(--border));
    --tw-prose-quotes: hsl(var(--foreground));
    --tw-prose-quote-borders: hsl(var(--border));
    --tw-prose-captions: hsl(var(--muted-foreground));
    --tw-prose-code: hsl(var(--foreground));
    --tw-prose-pre-code: hsl(var(--card-foreground));
    --tw-prose-pre-bg: hsl(var(--card));
    --tw-prose-th-borders: hsl(var(--border));
    --tw-prose-td-borders: hsl(var(--border));
  }

  .prose-invert {
    --tw-prose-body: hsl(var(--foreground));
    --tw-prose-headings: hsl(var(--foreground));
    --tw-prose-lead: hsl(var(--foreground));
    --tw-prose-links: hsl(var(--primary));
    --tw-prose-bold: hsl(var(--foreground));
    --tw-prose-counters: hsl(var(--muted-foreground));
    --tw-prose-bullets: hsl(var(--border));
    --tw-prose-hr: hsl(var(--border));
    --tw-prose-quotes: hsl(var(--foreground));
    --tw-prose-quote-borders: hsl(var(--border));
    --tw-prose-captions: hsl(var(--muted-foreground));
    --tw-prose-code: hsl(var(--foreground));
    --tw-prose-pre-code: hsl(var(--card-foreground));
    --tw-prose-pre-bg: hsl(var(--card));
    --tw-prose-th-borders: hsl(var(--border));
    --tw-prose-td-borders: hsl(var(--border));
  }
}

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 88 52% 53%;
    --primary-foreground: 88 25% 15%;
    --secondary: 88 50% 94%;
    --secondary-foreground: 88 25% 25%;
    --muted: 0 0% 90%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 68 62% 69%;
    --accent-foreground: 68 30% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 92%;
    --ring: 88 52% 53%;
    --chart-1: 88 52% 53%;
    --chart-2: 68 62% 69%;
    --chart-3: 88 40% 65%;
    --chart-4: 68 50% 75%;
    --chart-5: 88 30% 75%;
    --radius: 1rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 20 14.3% 4.1%;
    --sidebar-primary: 88 52% 53%;
    --sidebar-primary-foreground: 88 25% 15%;
    --sidebar-accent: 88 50% 94%;
    --sidebar-accent-foreground: 88 25% 25%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 88 52% 53%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 88 52% 53%;
    --primary-foreground: 88 25% 15%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 68 62% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 88 52% 53%;
    --chart-1: 88 52% 53%;
    --chart-2: 68 62% 50%;
    --chart-3: 88 45% 55%;
    --chart-4: 68 55% 55%;
    --chart-5: 88 35% 55%;
    --sidebar-background: 24 9.8% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 88 52% 53%;
    --sidebar-primary-foreground: 88 25% 15%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 88 52% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
